.container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.tableContainer {
  flex-grow: 1;
}

.gridRow {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 1px;
}

.gridRow > div {
  display: flex;
  align-items: center;
}

.gridRow > div > pre {
  margin: 0;
  padding: 0;
}

.header {
  background-color: var(--white);
  color: var(--dark-gray);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-small);
}

.header > div {
  padding: var(--space-xs);
  background-color: var(--secondary-blue);
}

.rowContainer {
  background-color: var(--white);
}

.rowContainer:nth-child(odd) > .row > div {
  background-color: var(--white);
}

.rowContainer:nth-child(even) > .row > div {
  background-color: var(--primary-blue);
}

.row {
  font-size: var(--font-size-small);
  color: var(--dark-gray);
  height: var(--space-lg);
  cursor: pointer;
}

.row > div:last-child {
  padding: 0 var(--space-xs);
}

.rowContainer > .row:hover > div {
  background-color: var(--gray);
}

.expandedRow {
  background-color: var(--secondary-blue);
}

.noData {
  padding: var(--space-xs);
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-blue);
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-medium);
  border: 1px dashed var(--border-blue);
  margin-top: var(--space-2xs);
}

.error {
  padding: var(--space-xs);
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-red);
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-medium);
  border: 1px dashed var(--dark-red);
  margin-top: var(--space-2xs);
}
