.viewer {
  background-color: var(--light-gray);
  color: var(--dark-gray);
  padding: 1rem;
  font-family: monospace;
  font-size: var(--font-size-small);
  overflow: auto;
  white-space: pre-wrap;
  text-align: left;
  margin: 0;
}

.key {
  color: var(--dark-red);
}

.string {
  color: var(--dark-red);
}

.number {
  color: var(--darkest-blue);
}

.boolean {
  color: var(--darkest-blue);
}

.null {
  color: var(--dark-gray);
}

.nested {
  padding-left: 1.25rem;
}
