.App {
  font-family: sans-serif;
  text-align: center;
}

.log-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-height: 24px;
  height: 24px;
  border-bottom: 1px solid #000;
}

.log-row div {
  text-align: left;
  text-wrap: nowrap;
  overflow: hidden;
}
