.App {
  font-family: sans-serif;
  text-align: center;
}

:root {
  --primary-blue: #e3f2fd;
  --secondary-blue: #bbdefb;
  --accent-blue: #90caf9;
  --light-blue: #f5f9ff;
  --dark-blue: #64b5f6;
  --text-blue: #1976d2;
  --hover-blue: #42a5f5;
  --border-blue: #bbdefb;
  --darkest-blue: #005cc5;
  --shadow-blue: rgba(33, 150, 243, 0.1);
  --black: #000000;
  --dark-gray: #555555;
  --white: #ffffff;
  --gray: #e0e0e0;
  --light-gray: #f6f8fa;
  --dark-red: #b31d28;

  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 20px;

  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
}
