:root {
  --primary-blue: #e3f2fd;
  --secondary-blue: #bbdefb;
  --accent-blue: #90caf9;
  --light-blue: #f5f9ff;
  --dark-blue: #64b5f6;
  --text-blue: #1976d2;
  --hover-blue: #42a5f5;
  --border-blue: #bbdefb;
  --darkest-blue: #005cc5;
  --shadow-blue: rgba(33, 150, 243, 0.1);
  --black: #000000;
  --dark-gray: #555555;
  --white: #ffffff;
  --gray: #e0e0e0;
  --light-gray: #f6f8fa;
  --dark-red: #b31d28;

  --font-size-xsmall: 12px;
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 20px;

  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-bold: 600;

  --space-px: 0.063rem; /* 1px */
  --space-3xs: 0.125rem; /* 2px */
  --space-2xs: 0.25rem; /* 4px */
  --space-xs: 0.5rem; /* 8px */
  --space-sm: 0.75rem; /* 12px */
  --space-md: 1rem; /* 16px - base */
  --space-lg: 1.5rem; /* 24px */
}
